.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
}

.element {
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  margin: auto auto;
  background: white;
  border-radius: 10px;
}

.info {
  display: flex;
  padding: 30px;
  text-align: left;
  flex-direction: column;
  gap: 25px;
}

.promo {
  place-self: center;
}

.money {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 20px;
}

.product {
  object-fit: cover;
  height: 453px;
  min-width: 310.5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* General Style */

body {
  font-family: sans-serif;
  margin: 0px;
  background: hsl(30, 38%, 92%);
}

h1 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  line-height: 1;
}

.desc2 {
  font-size: 0.875rem;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.desc1 {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.price {
  display: block;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.icon {
  display: grid;
  place-self: center;
}

.promo {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 0.875rem;
}

a {
  background: hsl(158, 36%, 37%);
  text-decoration: none;
  color: white;
  display: flex;
  padding: 15px 20px;
  text-align: center;
  gap: 10px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  border-radius: 8px;
}

.element img {
  max-width: 100%;
  display: block;
}

.money,
.desc1,
.desc2,
h1,
.price,
.promo,
.product{
  margin: 0px;
}

@media (max-width: 600px) {
  .element {
    grid-template-columns: 1fr;
    max-width: 350px;
  }

  .product {
    width: 350px;
    max-height: 275px;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .info {
    max-width: 350px;
    padding: 25px;
    gap: 15px;
  }

  .desc2 {
    padding-right: 5px;
  }
}
